<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>17</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/voitko-dev/CarsHistory/refs/heads/master/CarsHistoryPublished/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <PublishUrl>C:\Users\Peps2\RiderProjects\CarsHistory\CarsHistoryPublished\</PublishUrl>
    <PublisherName>CarsHistory</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://raw.githubusercontent.com/voitko-dev/CarsHistory/refs/heads/master/CarsHistoryPublished/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2025-06-19T16:03:53.7512927Z||;True|2025-06-19T13:23:47.4243093+03:00||;True|2025-06-19T13:16:26.1485470+03:00||;True|2025-06-04T12:39:24.2414623+03:00||;True|2025-06-04T10:09:11.2064269+03:00||;True|2025-05-29T11:54:44.9880717+03:00||;True|2025-05-28T13:17:47.1202066+03:00||;True|2025-05-27T14:35:15.5344265+03:00||;True|2025-05-27T11:44:50.9776959+03:00||;True|2025-05-26T20:57:27.1199819+03:00||;True|2025-05-25T16:29:41.3698210+03:00||;True|2025-05-24T21:24:03.1430963+03:00||;True|2025-05-17T17:41:49.3516651+03:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="appsettings.json.enc">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="cars-history.json.enc">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.16 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>